.submit {
    &-app {
        height: 2.75rem;
        min-width: 8rem;
        width: fit-content;
        padding: 0.5rem 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 0.5rem;
        border-radius: 0.25rem;
        color: var(--white);
        background-color: var(--main);
        border: none;
        margin: auto;
        cursor: pointer;
        margin-top: 0.25rem;
    }
}